<mat-toolbar color="primary">
  <button mat-icon-button aria-label="menu" routerLink="/process-message">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="title">Crisis Management App</span>
  <span class="example-spacer"></span>

  <button mat-icon-button aria-label="search" (click)="displaySearchBox()">
    <mat-icon>search</mat-icon>
  </button>
</mat-toolbar>

<nav mat-tab-nav-bar>
  <a mat-tab-link
  *ngFor="let link of navLinks"
  [routerLink]="link.link"
  routerLinkActive #rla="routerLinkActive"
  [active]="rla.isActive">
    {{ link.label }}
  </a>
</nav>

<router-outlet></router-outlet>