:host {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 8px;
  display: flex;
  align-items: baseline;
  box-shadow: 0 4px 4px -2px #ddd;
  margin-bottom: 8px;


  div.search {
    position: absolute;
    right: 2%;
  } 

  h3 {
    color: #555;
    margin-left: 16px;
  }
}