.mat-button-toggle{
    width: 250px;
    border: 10px;
}

h2 {
  margin: 0;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .poi{
      border-top: 20px;
  }

  ::ng-deep .mat-dialog-container {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
  }

  .parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    margin: 16px 0;
  }

.mat-dialog-actions {
  margin-bottom: -10px;
}