<div fxLayout="row" fxLayoutAlign="space-between center">
    <h2>Search Box</h2>
    <button mat-icon-button [mat-dialog-close]><i class="fab fa-cloud-showers"></i>
        <mat-icon><span class="material-icons-outlined">close</span></mat-icon>
    </button>
</div>

<div class="parent">
    <div *ngFor="let item of dataService?.knownTags ; let i = index">
        <mat-button-toggle fxLayout="row" fxLayoutAlign="start center" [checked]="item.checked"
            (click)="setValue(i, item.checked)">
            <mat-icon [style.color]="item.color">{{item.icon}}</mat-icon>
            {{item.name}}
        </mat-button-toggle>
    </div>
</div>
<mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button mat-flat-button [mat-dialog-close] (click)="search()" color="accent">Search</button>
</mat-dialog-actions>