.mat-button-toggle{
    width: 250px;
    border: 10px;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .poi{
      border-top: 20px;
  }