<div class="header">Message</div>

<div>Put your message here and click "Process Message" to see how AI (artificial intelligence) analyses it and extracts information.</div>

<textarea
  nz-input
  placeholder="Put your message here"
  [(ngModel)]="model"
  [nzAutosize]="{ minRows: 2, maxRows: 6 }"
></textarea>

<div class="buttons">
  <button
    nz-button
    nzType="primary"
    [disabled]="!model"
    (click)="extractData()"
    [nzLoading]="processing"
  >
    Extract Data
  </button>

  <div>
    <button
      nz-button
      nzType="default"
      [disabled]="!model"
      (click)="processMessage()"
      [nzLoading]="processing"
    >
      Process Message
    </button>
    <button nz-button nzType="default" style="margin-left: 4px;" [disabled]="!model" (click)="clear()">Clear</button>
  </div>
</div>

<div class="ai-response" *ngIf="!!responseText">
  <div class="header">AI response</div>

  <div>{{ responseText }}</div>
</div>

<div class="ai-response" *ngIf="!!data">
  <div class="header">Response object:</div>
  <div style="margin-bottom: 12px;">{{ data.data | json }}</div>

  <div class="header">AI Processing Log:</div>

  <div class="qa-box" *ngFor="let item of data.log">
    <div class="qa q">
      ❓ {{ item.q }}
    </div>
    <div  class="qa a">
      📢 {{ item.a }}
    </div>
  </div>
  
</div>
