:host {
  display: block;
  padding: 8px 16px;
  // max-width: 800px;
}

textarea {
  margin: 6px 0 8px 0;
}

.header {
  font-weight: 600;
  color: #333;
  margin-bottom: 4px;
}

.ai-response {
  margin-top: 24px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.qa-box {
  margin-bottom: 8px;
}

.qa {
  padding: 4px 8px;
  white-space: pre-line;
}

.a {
  background-color: #eee;
}

.q {
  background-color: #ddd;
}

blockquote {
  font-style: italic;
  padding: 0 8px;

  i {
    cursor: pointer;
  }
}