<h2>How AI-powered message processing works?</h2>
<p>A message is send to the backend API from where a bunch of queries are sent to the OpenAI. The response is used to enrich the original plain text message with additional data like: <i>category</i>, <i>location</i>, etc.</p>
<p>By using OpenAI we potentially can extract any information by simply asking questions in a natural language. The challenge is to formulate the questions and how good AI is with answering them.</p>

<h2>Try it out!</h2>
<p>Write a message in the box below and let OpenAI analyze it and extract additional information. You can use this message below as an example:</p>
<blockquote>
  {{ exampleMessage }}
  <i nz-icon nzType="copy" nzTheme="outline" (click)="model = exampleMessage"></i>
</blockquote>

<textarea
  nz-input
  placeholder="Put your message here"
  [(ngModel)]="model"
  [rows]="4"
></textarea>

<div class="buttons">
  <button
    nz-button
    nzType="primary"
    [disabled]="!model"
    (click)="processMessage()"
    [nzLoading]="processing"
  >
    Process Message
  </button>

  <div>
    <button nz-button nzType="default" style="margin-left: 4px;" [disabled]="!model" (click)="clear()">Clear</button>
  </div>
</div>

<div class="ai-response" *ngIf="!!responseText">
  <div class="header">AI response</div>

  <div>{{ responseText }}</div>
</div>

<div class="ai-response" *ngIf="!!extractedData">
  <h2>Your message</h2>
  <p>{{ originalMessage }}</p>

  <h2>Extracted data</h2>
  <pre style="margin-bottom: 12px;">{{ extractedData.data | json }}</pre>

  <h2>OpenAI Interaction Log</h2>
  <p>Below are all the queries send to OpenAI and its responses:</p>

  <div class="qa-box" *ngFor="let item of extractedData.log">
    <div class="qa q">
      ❓ {{ item.q }} (your message)
    </div>
    <div  class="qa a">
      📢 {{ item.a }}
    </div>
  </div>

  <button
    nz-button
    nzType="primary"
    (click)="addToMessages()"
  >
    Add To Messages
  </button>
  
</div>
