:host {
  display: block;
  padding: 8px;
}

textarea {
  margin: 24px 0 8px 0;
}

.header {
  font-weight: 600;
  color: #333;
  margin-bottom: 4px;
}

.ai-response {
  margin-top: 24px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}