<h3>How AI-powered message processing works?</h3>
<p>A message is send to the backend API where a bunch of queries are sent to the OpenAI. Its response is used to enrich the original text message with additional data used for categorizing, searching etc. purposes.</p>

<h3>Try it out!</h3>
<p>Write a message in the box below and let OpenAI analyze it and extract additional information. You can use the message below as an example:</p>
<blockquote>
  {{ exampleMessage }}
  <i nz-icon nzType="copy" nzTheme="outline" (click)="model = exampleMessage"></i>
</blockquote>

<textarea
  nz-input
  placeholder="Put your message here"
  [(ngModel)]="model"
  [rows]="4"
></textarea>

<div class="buttons">
  <button
    nz-button
    nzType="primary"
    [disabled]="!model"
    (click)="extractData()"
    [nzLoading]="processing"
  >
    Extract Data
  </button>

  <div>
    <button
      nz-button
      nzType="default"
      [disabled]="!model"
      (click)="processMessage()"
      [nzLoading]="processing"
    >
      Process Message
    </button>
    <button nz-button nzType="default" style="margin-left: 4px;" [disabled]="!model" (click)="clear()">Clear</button>
  </div>
</div>

<div class="ai-response" *ngIf="!!responseText">
  <div class="header">AI response</div>

  <div>{{ responseText }}</div>
</div>

<div class="ai-response" *ngIf="!!data">
  <h3>Your message</h3>
  <p>{{ originalMessage }}</p>

  <h3>Extracted data</h3>
  <pre style="margin-bottom: 12px;">{{ data.data | json }}</pre>

  <h3>OpenAI Interaction Log</h3>
  <p>Below are all the queries send to OpenAI and its responses:</p>

  <div class="qa-box" *ngFor="let item of data.log">
    <div class="qa q">
      ❓ {{ item.q }} (your message)
    </div>
    <div  class="qa a">
      📢 {{ item.a }}
    </div>
  </div>
  
</div>
