:host {
    overflow: auto;
    display: block;
}

.arrange-vertically > * {
    display: block;
}
.grid-style {
    padding: 16px;
}
.ant-card-head {
    background-color: #ffde03 !important;
}

app-information-view {
    width: 400px;
    margin-bottom: 10px;
    display: block;
}

.mat-icon{
    margin: 20px;
}