<div fxLayout="row" fxLayoutAlign="end center">
  <section class="example-section">
    <mat-checkbox class="example-margin" [(ngModel)]="showOriginalData">Display Original Data</mat-checkbox>
  </section>
</div>

<div *ngFor="let category of categoryList">
  <div *ngIf="!category.checked">
    {{category?.name}}


    <div *ngFor="let item of data">
      <app-information-view *ngIf="item.category == category.name " [model]="item"
        [showOriginalData]="showOriginalData">
      </app-information-view>
    </div>

  </div>
</div>

<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <!-- use a disabled button to provide padding for tree leaf -->
    <button mat-icon-button disabled></button>
    {{node.name}}
  </mat-tree-node>
</mat-tree>