<div>
  <nz-radio-group style="margin: 4px;">
    <label nz-radio-button routerLink="/list">List</label>
    <label nz-radio-button routerLink="/map">Map</label>
  </nz-radio-group>

  <label nz-checkbox [(ngModel)]="showOriginalData">showOriginalData</label>
</div>

<app-information-view
  *ngFor="let item of data"
  [model]="item"
  [showOriginalData]="showOriginalData"
></app-information-view>

<p>
  <a href="https://ng.ant.design/components/overview/en" target="_blank">https://ng.ant.design/components/overview/en</a>
</p>