<mat-accordion>
  <div *ngFor="let tag of dataService.knownTags">
    <mat-expansion-panel *ngIf="tag.checked">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon [style.color]="tag.color">{{tag.icon}}</mat-icon>
          {{tag.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <div *ngFor="let item of data">
          <app-information-view *ngIf="item.category==tag.name" [model]="item">
          </app-information-view>
        </div>
      </div>
    </mat-expansion-panel>
  </div>
</mat-accordion>