<nz-radio-group style="margin: 4px;">
  <label nz-radio-button routerLink="/list">List</label>
  <label nz-radio-button routerLink="/map">Map</label>
</nz-radio-group>

<div class="grid">
  <div class="map" id="map"></div>

  <div class="column">
    <nz-tag
      *ngFor="let tag of tags"
      [nzColor]="tag.color"
      [style.opacity]="(tag.visible) ? 1 : .4"
      (click)="toogleLayer(tag)"
    >
      {{ tag.name }}
    </nz-tag>
  </div>

  <div>
    <div class="section-title">Location Details</div>

    <div *ngIf="!selectedLocation">No location selected.</div>
    <div *ngIf="selectedLocation">{{ selectedLocation | json }}</div>
  </div>

</div>
