:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.map-container {
  position: relative;
  flex: 1;
  flex-shrink: 0;
  display: flex;
}

.map {
  flex: 1;
  flex-shrink: 0;
  min-height: 0;
}

.tags {
  padding: 12px 8px;
  border-top: 1px solid #ddd;

  & > span {
    margin-right: 12px;
  }
}

.ant-tag {
  margin-right: 4px;
  margin-bottom: 4px;
  cursor: pointer;
}

.details {
  position: absolute;
  z-index: 8000;
  bottom: 45px;
  left: 16px;
  right: 16px;
  background: #fff;
  padding: 16px;
  box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  max-height: 60vh;
  display: flex;
  flex-direction: column;

  .section-title {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;

    i {
      cursor: pointer;
    }
  }

  app-information-view {
    // overflow: auto;
  }

  ::ng-deep {
    .mat-card {
      padding: 0 !important;
      box-shadow: none !important;
    }
  }
}

@media only screen and (min-width: 720px)  {
  .details {
    max-width: 60vh;
    margin: 0 auto;
  }
}