.grid {
  display: grid;
  grid-template-columns: 2fr auto 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

   & > div {
     padding: 0 8px;
   }
}

.section-title {
  font-weight: 600;
  margin-bottom: 6px;
}

#map {
  height: 350px;
}

@media only screen and (min-width: 787px) {
  #map {
    height: 400px;
  }
}

.column {
  display: flex;
  flex-direction: column;
}

.ant-tag {
  margin: 2px 2px;
  cursor: pointer;
}