<div class="map-container">
  <div class="map" id="map"></div>

  <div class="details" *ngIf="selectedLocation">
    <div class="section-title">
      Location Details
      <i nz-icon nzType="close" nzTheme="outline" (click)="selectedLocation = undefined"></i>
    </div>

    <app-information-view [model]="selectedLocation"></app-information-view>
  </div>
</div>

<div class="tags">
  <span>Layers:</span>
  <nz-tag
    *ngFor="let tag of tags"
    [nzColor]="tag.color"
    [style.opacity]="(tag.visible) ? 1 : .4"
    (click)="toogleLayer(tag)"
  >
    {{ tag.name }}
  </nz-tag>
</div>