<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="example-card">
    <mat-card-title>{{data?.category}} 
    </mat-card-title>
    <mat-card-subtitle>{{getDate().toString()}} <span *ngIf="data?.date">({{ data?.date | timeago:false }})</span>  <mat-chip>{{data?.source}}</mat-chip></mat-card-subtitle>
   
    <mat-card-content>
      <p>{{data?.sourceMessagePlainText}}</p>
      <div class="parent">
        <div *ngIf="data?.address" class="info-box">
          <div class="sectionHeader">
            <mat-icon>place</mat-icon>
            <p>Address:</p>
          </div>
          <div>{{data?.address}}</div>
        </div>
        <div *ngIf="data?.sentiment" class="info-box">
          <div class="sectionHeader">
            <mat-icon>sentiment_very_satisfied</mat-icon>
            <p>Sentiment:</p>
          </div>
          <div>{{data?.sentiment | json}}</div>
        </div>
        <div *ngIf="data?.sourceData" class="info-box">
          <div class="sectionHeader">
            <mat-icon>topic</mat-icon>
            <p>Source Data:</p>

          </div>
          <div>{{data?.sourceData | json}}</div>
        </div>
        <div *ngIf="data?.tags" class="info-box">
          <div class="sectionHeader">
            <mat-icon>local_offer</mat-icon>
            <p>Tags:</p>

          </div>
          <div>{{data?.tags}}</div>
        </div>
        <div *ngIf="data?.aiErrors" class="info-box">
          <div class="sectionHeader">
            <mat-icon>smart_toy</mat-icon>
            <p>AI Errors:</p>

          </div>
          <div>{{data?.aiErrors | json}}</div>
        </div>
        <div *ngIf="data?.aiLog" class="info-box">
          <div class="sectionHeader">
            <mat-icon>psychology</mat-icon>
            <p>AI Logs:</p>

          </div>
          <div>{{data?.aiLog | json}}</div>
        </div>
      </div>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <button mat-stroked-button [routerLink]="['/analysis', { id }]">Analysis</button>
    </mat-card-actions>
  </mat-card>
</div>