<div>
  <div class="header">Processed message:</div>

  <div class="information-header">
    <span class="date">{{ model?.date | date:'dd MMM yyyy, hh:mm' }}</span>
    <span class="time-ago">({{ model?.date | timeago:false }})</span>
    <span class="flex"></span>
  </div>

  <app-telegram-content [model]="model?.sourceData?.text"></app-telegram-content>

  <div class="information-footer">
    <span class="source flex">source: {{ model?.source || 'unknown' }}</span>
    <a [routerLink]="['/details', model?.id]">(details)</a>
  </div>
</div>

<div>
  <div class="header">Original message:</div>
  {{ model?.sourceData | json }}
</div>