<mat-card class="my-card">
  <mat-card-subtitle>{{getDate().toString()}}</mat-card-subtitle>
  <!-- TODO: timeago was giving some errors; check why some messages don't have correct data? -->
  <mat-card-subtitle *ngIf="model?.date">({{ model?.date | timeago:false }})</mat-card-subtitle>
  <mat-card-content>
    <app-telegram-content [model]="model?.sourceData?.text"></app-telegram-content>
    <div *ngIf="model && !model.sourceData && model?.sourceMessagePlainText"> {{ model?.sourceMessagePlainText }}</div>
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions>
    <div>
      <nz-tag
        *ngIf="category && showCategory"
        [nzColor]="category.color"
      >
        {{ category.name }}
      </nz-tag>
    </div>
    <button mat-icon-button [routerLink]="['/details', model?.id]">
      <mat-icon>
        <span style="color: #2196f3;" class="material-icons-outlined">
          arrow_forward
        </span>
      </mat-icon>
    </button>
  </mat-card-actions>
</mat-card>