:host {
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  column-gap: 16px;

  & > div {
    padding: 0 4px;
  }
}

.header {
  font-weight: 600;
  margin-bottom: 8px;
}

.information-header {
  display: flex;

  .source {
    color: #666;
  }
}

.flex {
  flex: 1;
}

.time-ago {
  font-size: .8rem;
  color: #777;
  margin-left: 8px;
}